/* Blocks */
body {
    font-family: arial;
    font-size: 1.7vh;
}

th {
    padding: 10px;
}

dt {
    text-align: center;
}

/* classes */
.h {
    
    margin:0 0 30px 0;
    padding: 10px;
    height: 100px;
    margin: 5px 1px 1px 10px;
    overflow: hidden;
}

.ingredients {
    color: #ff0055;
    text-transform: uppercase;
    text-align: center;
}

.button {
    background-color: #FF0000;
    color: #FFFFFF;
    border: 10px;
    border-color: #FFFFFF;
    padding: 8px;
    margin: 5px 5px;
}

.clear {
    clear: both;
}

/* ID's */
#headline {
    padding: 0 0 0 5px;
    position: absolute;
    margin-top: -350px;
}

#header_background {
    opacity: 0.5;
    width: 60%;
    height: auto;
}

#drinks {
    color: #FFFFFF;
    background-color: #000000;
    border: 3px dashed #FFF;
    width: 60%;
    margin: 10px;
    padding: 10px;
}

#burgers {
    color: #000;
    background-color: #FFF;
    border: 3px dashed #000;
    width: 60%;
    margin: 10px; /* trbl */
    padding: 10px;
}
/*
#burgers h2 {
    margin-left: 5px;
}

#burgers p {
    margin-left: 10px;
}
*/
#smak {
    margin: 5px 5px
}

figure:hover {
     background-color: #FF0000;
}









